.logo-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.logo {
  height: 80%;
  filter: var(--invert-color) var(--backlight-logo);
  pointer-events: none;
}
